p

{
     color: blanchedalmond;
     font-size: 22pt;
     font-family: Helvetica, Courier New, San Serif, Arial
}
body {
     margin: auto;
     max-width: 800px;



    background-color: black;
}